@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', sans-serif;  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 , span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

li {
  list-style: none;
}

.flex{
    display: flex;
  }   

.flex_1 {
  flex: 1;
} 

.container {
  padding: 50px 0;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

.text--gold {
  color: #D4AF37;
}

section:nth-child(even) {
  background-color: #F5F5F5;
}

.section__title {
  font-size: 32px;
  margin-bottom: 24px;
}

/* Navigation Bar Styles */

nav { 
  height: 100px;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list {
  display: flex;

}

.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
}

.nav__link--anchor--primary {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 24px;
}

.nav__link--anchor--primary:hover {
  background-color: #D4AF37;
  transition: all 0.3s ease-in-out;
}

.personal__logo {
  font-size: 24px;
  color: #D4AF37;
  margin: 0 12px;
  font-weight: 700;
}

/* About Me Section Styles */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me__picture--mask {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
}

.about-me__picture {
  width: 100%;
}

.about-me__info--title {
 margin-bottom: 16px;
}

.about-me__info--para {
  max-width: 600px;
  text-align: center;
  margin: 16px 24px;
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__img {
  max-width: 100%;
}

.about-me__link {
  font-size: 20px;
  color: #242424;
  text-decoration: none;
  padding: 8px;
}

/* MY TECHNOLOGY STACK */

.language__img {
  max-width: 100px;
  width: 100%;
  background-color: #F5F5F5;
}

.language:hover .language__img {
  transform: scale(0.9);
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.language {
  width: 25%;
  justify-content: center;
  margin: 0 12px;
  position: relative;
}
.language__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 24px;
}

.language__name {
  /* position: absolute; */
  justify-content: center;
  display: flex;
  transform: scale(0);
}

.language:hover .language__name {
  transform: scale(1);
  transition: all 0.3s ease-out;

}

.project__img {
  width: 100%;
}